
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css'>

<section class="section section-dark">
  <h2>Social Media and Links</h2>
  <div class="wrapper">
    <a href="https://www.facebook.com/elemons23/" class="icon facebook">
      <div class="tooltip">Facebook</div>
      <span><i class="fab fa-facebook-f"></i></span>
    </a>

    <a href="https://www.instagram.com/erik.lemons/" class="icon instagram">
      <div class="tooltip">Instagram</div>
      <span><i class="fab fa-instagram"></i></span>
    </a>
  </div>
</section>
