<!-- below handles Contact -->
<section class="section section-light">
  <h2>Contact Erik</h2>
  <div class="form">
    <div class="form-items">
     <input type="text" class="input" placeholder="name">
    </div>
    <div class="form-items">
        <input type="text" class="input" placeholder="email">
    </div>
    <div class="form-items">
      <textarea type="text" class="input-message" placeholder="Message" cols="30" rows="10"></textarea>

    </div>

    <div class="direct-contact-container">

<a href="tel:123-456-7890">CLICK TO CALL</a>
<br>
<a href="mailto:elemons23@gmail.com">Click to email </a>
    </div>
  </div>
</section>
