<html lang="en"></html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, intialscale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Erik Lemons Realtor</title>
  <link rel="stylesheet" href="app.component.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<!-- below handles first image -->
<body>
  <div class="pimg1">
    <div class="ptext">
      <span class="border">
        Erik Lemons Realtor
      </span>
    </div>
  </div>
<app-about></app-about>

  <!-- below handles second image -->
  <body>
    <div class="pimg2">
      <div class="ptext">
        <span class="border trans">
          Buying, selling or renting? Contact Erik today!
        </span>
      </div>
    </div>

    <app-contact></app-contact>

    <app-social></app-social>


  <!-- below handles third image -->
  <body>
    <div class="pimg3">
      <div class="ptext">
        <span class="border trans">
          Relax and let Erik do the work for you.
        </span>
      </div>
    </div>

 


