<html lang="en"></html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, intialscale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Erik Lemons Realtor</title>
  <link rel="stylesheet" href="app.component.css">
</head>
<!-- below handles first image -->
<body>
  <div class="pimg1">
    <div class="ptext">
      <span class="border">
        Erik Lemons Realtor
      </span>
    </div>
  </div>
<!-- below handles About section -->
  <section class="section section-light">
    <h2>About Erik</h2>
    <p>
      Whether you are interested in buying, selling, investing or renting.
          Erik Lemons will provide you with professional support.
          Erik was born and raised in South Philadelphia and developed a love for real estate by starting out investing in real estate by fixing and flipping homes, buying, and renting.
          Erik moved into real estate sales with a passion to help each client make smart decisions on what could be their largest lifetime purchase.
          His negotiation expertise has ranged from single home sales to land sales and working with investors to find their next project.
          No matter the size of the transaction Erik is on your team.
           As your professional realtor, Erik will assess both your needs and preferences and show you the properties in the communities that will make you feel right at home.
    </p>
  </section>

  <!-- below handles second image -->
  <body>
    <div class="pimg2">
      <div class="ptext">
        <span class="border">
          Buying, selling or renting? Contact Erik today!
        </span>
      </div>
    </div>
<!-- below handles Contact -->

<section class="section section-dark">
  <h2>Contact Erik</h2>
  <p>
Contact form will be here
  </p>
</section>

  <!-- below handles third image -->
  <body>
    <div class="pimg3">
      <div class="ptext">
        <span class="border">
          Relax and let Erik do the work for you.
        </span>
      </div>
    </div>

    <!-- below handles Last section -->

<section class="section section-light">
  <h2>something here?</h2>
  <p>
    Need an idea for down here
  </p>
</section>

<!-- below handles first image but now at bottow of page -->
<body>
  <div class="pimg1">
    <div class="ptext">
      <span class="border">
        Erik Lemons Realtor
      </span>
    </div>
  </div>
</body>
